html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #2B2E4A; */
    background-color: rgb(27, 26, 26);
    font-family: 'Be Vietnam Pro', sans-serif;
}

h2, p {
    color: #d3b4b4;
}

/* h2 {
    font-family: 'IM Fell English SC', serif;
} */

/* p {
    font-family: 'Lato', sans-serif;
} */





.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: #2B2E4A;
    height: 70px;
}

.navbar img {
    width: 90px;
    height: auto;
}

.navigation a {
    text-decoration: none;
    color: #cec6cc;
    padding: 10px;
}

.navigation a:hover {
    color: rgb(255, 203, 196);
}

.introduction {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 20px auto;
    padding: 40px;
    text-align: center;
    margin-bottom: 80px;
    background-image: url("../assets/gothic.jpg");
    height: auto;
}

.introduction p {
    padding: 20px 100px;
    font-size: 25px;
    color: #cec6cc;

}

.main-title {
    margin: 20px auto;
    text-shadow: 2px 2px 5px black;
    color: rgb(197, 36, 36);
    font-size: 70px;
    font-weight: bold;
}

.subtitle {
    color: #E84545;
    font-size: 35px;
    margin: 20px auto;
}

.about {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.about h2 {
    font-size: 70px;
    margin-bottom: 10px;
    color: #E84545;
}

.about p {
    font-size: 20px;
    margin-bottom: 5px;
}

.about-button {
    background-color: #2B2E4A;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    font-size: 15px;
    width: 150px;
}

.about-button:hover {
    background-color: #53354A;
}

.about img {
    max-width: 100%;
    height: auto;
}


.about .section, .system .section {
    width: 60%;
    padding: 20px;
}

.about .section p, button {
    margin-top: 10px;
}


.about-image {
    width: 40%;
    height: auto;
}

.section {
    display: flex;
    flex-direction: column;
}

.characters {
    text-align: center;
    padding: 20px;
    margin-bottom: 80px;
}

.characters h2 {
    font-size: 60px;
    margin-bottom: 50px;
    color: #E84545;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

/* .image {
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
} */

/* .dante, .nero, .v {
    width: 350px;
    height: 200px;
} */

.images img {
    max-width: 100%;
    height: auto;
}

.char {
    position: relative;
    width: 350px;
    height: 200px;
}

.char img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.char .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.char:hover img {
    opacity: 0.3;
  }
  
.char:hover .middle {
    opacity: 1;
}

.char-name {
    /* background-color: #4CAF50; */
    color: #FFF;
    font-size: 30px;
    padding: 16px 32px;
  }


.images .name {
    font-size: 30px;
    font-weight: bold;
    color: #eee;
    padding-top: 15px;
}

.system {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 120px;
}


.system h1 {
    color: rgb(197, 36, 36);
    font-size: 70px;
    font-weight: bold;
}

.system h2 {
    color: #E84545;
    font-size: 35px;
    margin: 20px 0;
    text-align: left;
}

.system p {
    font-size: 23px;
}

.system-button {
    background-color: #2B2E4A;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    color: #eee;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    width: 150px;
}

.system-button:hover {
    background-color: #53354A;
}

.system-image {
    width: 500px;
    /* height: 500px; */
}

.system img {
    max-width: 100%;
    height: auto;
}

.system .section {
    display: flex;
    flex-direction: column;
}

.preview {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
    width: 60%;
    height: 50%;
    text-align: center;
}

.preview h1 {
    color: rgb(197, 36, 36);
    font-size: 60px;
    margin-top: 80px;
}

.preview img {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
}







.footer {
    margin-top: 50px;
    height: auto;
    background-color: #2B2E4A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.capcom-logo {
    width: 150px;
    height: 50px;
    /* display: flex; */
}

.capcom-logo img {
    max-width: 100%;
    height: auto;
}


@media all and (max-width: 500px) {
    .main-title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 25px;
    }

    .introduction p {
        font-size: 18px;
        padding: 30px;
    }

    .about {
        flex-direction: column-reverse;
        padding: 10px;
    }

    .about-image {
        width: 100%;
    }

    .about h2 {
        font-size: 50px;
    }

    .about p {
        font-size: 20px;
        
    }

    .characters h2 {
        font-size: 50px;
    }

    .images {
        flex-direction: column;
    }

    .system h1 {
        font-size: 50px;
    }

    .system h2 {
        font-size: 35px;
    }

    .system p {
        font-size: 20px;
    }

    .system {
        flex-direction: column-reverse;
    }
}